.infoBtn:checked ~ .info {
    display: flex;
    flex-direction: column;
}

.info {
    display: none;
    position: absolute;
    top: 3%;

    background-color: var(--post-bg);

    padding: 16.9vh 3vw 3vw 3vw;

    border-radius: 0.25vw;

    z-index: 1;
}

#WODPhonetic::before {
    content: '\0000a0';
}

.color {
    overflow: hidden;

    user-select: text;
}

.color::after {
    position: relative;
    display: block;
    content: attr(title);

    text-align: center;

    color: var(--text);
    background-color: var(--post-bg);
    /* dark mode = rgb(58, 58, 58) */

    height: 4vh;
    top: 15vh;

    transition: top 0.05s;
}

.color:hover::after {
    top: 11vh;
}
