* {
    margin: 0;
    /* box-sizing: border-box; */

    font-family: Poppins, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;

    background-color: #ebecee;
    color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.DarkModeBoard {
    background-color: #121212;
    color: rgb(232, 230, 227);
}

.LightModePost {
    background-color:#fefefe;
}

.DarkModePost {
    background-color: #1e1e1e;
}

.DarkModeSwitch {
    fill: #fefefe;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

p, span {
    font-size: 1.5rem;
}

button {
    color:aliceblue;
    background-color: #0b0b0b;
    border: solid 2px rgb(255, 255, 184);
    min-width: max-content;
    padding: 3%;
    border-radius: 15px;
    font-size: 1rem;
}

button:hover {
    color:rgb(248, 252, 255);
    background-color: #464646;
    border: solid 2px rgb(255, 255, 255);
}


@media only screen and (max-aspect-ratio: 13/16) {     /* Mobile */
    * {
        font-size: 0.9rem;
    }
}

@media only screen and (max-aspect-ratio: 12/16) {     /* Mobile */
    * {
        font-size: 0.8rem;
    }
}

@media only screen and (max-aspect-ratio: 11/16) {     /* Mobile */
    * {
        font-size: 0.7rem;
    }
}

@media only screen and (max-aspect-ratio: 10/16) {     /* Mobile */
    * {
        font-size: 0.6rem;
    }
}

@media only screen and (max-aspect-ratio: 9/16) {     /* Mobile */
    * {
        font-size: 0.5rem;
    }
}
